.Tasklist
  .ui.search .prompt
    border-radius 0

  .ui.input
    width 100%

  .Tasklist--search-container
    margin-bottom 2em

  .Tasklist--item-content
    position relative

  .Tasklist--item-priority
    position absolute
    top 0
    right 5px
    
  .Tasklist--details .row
    padding 0.5rem 0 0
    &:last-child
      padding-bottom 1rem
    &:first-child
      padding-top 1.5rem
