<div class="Tasklist">
    <div class="ui search Tasklist--search-container">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search for Tasks">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>

    <div class="ui divided items">
        <div class="item" ng-repeat="task in vm.tasks">
            <div class="content Tasklist--item-content">
                <a class="header" ui-sref="home.detail({taskId: task.id})">
                    {{task.name}}
                </a>

                <div class="Tasklist--item-priority">
                    {{task.priority}}
                </div>

                <div class="meta">
                    {{task.description}}
                </div>
                <div class="ui grid Tasklist--details">
                    <div class="row two column">
                        <div class="column"><i class="bookmark icon"></i>{{vm.prettyDate(task.created)}}</div>
                        <div class="column"><i class="wait icon"></i>{{vm.prettyDate(task.due)}}</div>
                    </div>
                    <div class="row">
                        <div class="column"><i class="user icon"></i>Demo Demo</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Amount:</strong></div>
                        <div class="column">30€</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Number:</strong></div>
                        <div class="column">GPFE-23232323</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Creditor:</strong></div>
                        <div class="column">Great Pizza for Everyone Inc.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
