<div class="Tasklist">
    <div class="ui search Tasklist--search-container">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search for Tasks">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>

    <div>
        <div class="task-title"></div>
        <div class="task-priority"></div>
        <div class="task-process-definition"></div>
        <div>
            <div class="created"></div>
            <div class="due"></div>
        </div>
        <div class="task-assignee"></div>
        <div class="task-invoice-amount"></div>
        <div class="task-invoice-number"></div>
        <div class="task-creditor"></div>
    </div>

    <div class="ui divided items">
        <div class="item" ng-repeat="task in vm.tasks">
            <div class="content Tasklist--item-content">
                <a class="header">{{task.name}}</a>

                <div class="Tasklist--item-priority">
                    {{task.priority}}
                </div>

                <div class="meta">
                    {{task.description}}
                </div>
                <div class="ui grid Tasklist--details">
                    <div class="row two column">
                        <div class="column"><i class="bookmark icon"></i>{{vm.prettyDate(task.created)}}</div>
                        <div class="column"><i class="wait icon"></i>{{vm.prettyDate(task.due)}}</div>
                    </div>
                    <div class="row">
                        <div class="column"><i class="user icon"></i>Demo Demo</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Amount:</strong></div>
                        <div class="column">30€</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Number:</strong></div>
                        <div class="column">GPFE-23232323</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Creditor:</strong></div>
                        <div class="column">Great Pizza for Everyone Inc.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content Tasklist--item-content">
                <a class="header">Assign Approver</a>

                <div class="Tasklist--item-priority">
                    50
                </div>

                <div class="meta">
                    Invoice Receipt
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="ui grid Tasklist--details">
                    <div class="row two column">
                        <div class="column"><i class="bookmark icon"></i>36min ago</div>
                        <div class="column"><i class="wait icon"></i>in 3 days</div>
                    </div>
                    <div class="row">
                        <div class="column"><i class="user icon"></i>Demo Demo</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Amount:</strong></div>
                        <div class="column">30€</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Invoice Number:</strong></div>
                        <div class="column">GPFE-23232323</div>
                    </div>
                    <div class="row two column">
                        <div class="column"><strong>Creditor:</strong></div>
                        <div class="column">Great Pizza for Everyone Inc.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
