.columns
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex

.column
  position relative
  height 100%

.column-wrapper
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden

.column-content
  position absolute
  top 60px
  bottom 0
  left 0
  right 0
  padding 1em
  overflow-y auto

.column-header
  height 60px

.column-tasklist
  width 350px

.task-detail
  flex 1
  background-color yellow